.layout {
  display: flex;
  flex-direction: column;
  min-height: 150vh;
  padding: 0;
  padding-top: 10vh;
  padding-bottom: 5vh;
  margin: 5vh 5vw 10vh 10vw; /*/*<top> <right> <bottom> <left>;*/
  font-family: Arial, sans-serif;
  align-items: center; /* horizontal only */
  overflow: scroll;
}
.layout img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

.layout p {
  text-align: justify;
  line-height: 1.5em;
}

.layout h1,
.layout h2,
.layout h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-align: left;
}

.layout sup {
  vertical-align: super;
  font-size: smaller;
}

.layout-box {
  display: flex; /* put image & abstract side-by-side */
  align-items: flex-start; /* align at the top */
  gap: 20px; /* space between image & text */
  margin-top: 5vh;
  padding: 2vh 3vw;
  background-color: #f9f9ff;
  border-left: 4px solid #007bff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  max-width: 900px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
