/* Logo-button styling */
.top-bar {
  display: flex;
  justify-content: center;
  margin-top: clamp(1vh, 3vh, 5vh);
  
}
.button-box {
  background-color: #ffffff;
  padding: clamp(1vh, 2vh, 3vh) clamp(2vw, 4vw, 6vw);
  border-radius: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: clamp(1vw, 2vw, 3vw);
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.button-box button {
  padding: clamp(0.5vh, 1vh, 1.5vh) clamp(1vw, 2vw, 3vw);
  border: none;
  border-radius: 40px;
  background-color: #007bff;
  color: white;
  font-size: clamp(12px, 1.2vw, 16px);
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.button-box button:hover {
  background-color: #0056b3;
}