.footer {
  width: 100%;
  padding: 2vh 0;
  background-color: #ffffff;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  gap: clamp(1vw, 2vw, 3vw);
  margin-top: 18px;
}

.footer a {
  width: clamp(30px, 4vw, 50px);
  height: clamp(30px, 4vw, 50px);
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.footer a:hover {
  transform: scale(1.1);
}

.footer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/*fix last-update statement at the right bottom of the footer*/
.footer .last-updated {
  position: absolute;
  right: 2vw;
  bottom: 1vh;
  font-size: 0.75rem; /* small footer text */
  color: #666;
}

