<!-- Slide-out Menu -->
<button class="logo-button"></button>

<!-- Logo in top-left corner -->

<div id="sideMenu" class="side-menu">
    <ul>
        <li><a data-key="publications">Publications</a></li>
        <li><a data-key="confsWorkshops">Conferences & Workshops</a></li>
        <li><a data-key="aboutme">About me</a></li>
        <li><a data-key="projects">Projects</a></li>
        <li><a data-key="blogs">Blogs</a></li>
        <li><a data-key="contactMe">Contact me</a></li>
    </ul>
</div>
<!-- End of Slide-out Menu -->